<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <!--чтобы работало конфигурирование через аннотации тут нужно писать-->
    <!--metadata-complete="false" -->

    <display-name>Сервлет Controller</display-name>


    <servlet>
        <servlet-name>FrontControllerServlet5</servlet-name>
        <servlet-class>by.it.akhmelev.project7.java.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet5</servlet-name>
        <url-pattern>/do</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>EncodingUTF8</filter-name>
        <filter-class>by.it.akhmelev.project7.java.filters.EncodingUTF8</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingUTF8</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>